<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Your Custom Academy - Based on Alef Baa Design</title>
    
    <link rel="stylesheet" href="https://alefbaacademy.com/site/assets/default/vendors/toast/jquery.toast.min.css">
    <link rel="stylesheet" href="https://alefbaacademy.com/site/assets/default/css/app.css">
    <link rel="stylesheet" href="https://alefbaacademy.com/site/assets/default/css/mine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://alefbaacademy.com/site/assets/default/vendors/swiper/swiper-bundle.min.css">

    <style>
        /* إضافة روابط كاملة للملفات لضمان ظهور الصور والتنسيق */
        .navbar-brand img { max-height: 50px; }
        .slider-container { background-image: url('https://alefbaacademy.com/site/assets/default/img/home/world.png') !important; }
    </style>
</head>

<body>
<div id="app">
    <div class="top-navbar d-flex border-bottom">
        <div class="container d-flex justify-content-between flex-column flex-lg-row">
            <div class="top-contact-box border-bottom d-flex flex-column flex-md-row align-items-center">
                <a href="https://wa.me/+971544993104" target="_blank" class="py-2">
                    <span class="badge badge-success p-2"><i class="fab fa-whatsapp"></i> Contact Us on WhatsApp</span>
                </a>
            </div>
            <div class="d-md-flex d-none align-items-center">
                <a href="/login" class="px-10 py-0 mr-10 btn btn-login text-white">Login</a>
                <a href="/register" class="px-10 btn btn-register">Register</a>
            </div>
        </div>
    </div>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://alefbaacademy.com/site/assets/images/logo3.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Packages</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="slider-container slider-hero-section2 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <h1 class="text-secondary font-weight-bold">Welcome to Your New Institute</h1>
                    <p class="slide-hint text-gray mt-20">
                        This is a custom description. You can keep the original style while changing the text here. 
                        We provide high-quality online education for students worldwide.
                    </p>
                    <div class="mt-30">
                        <a href="#custom-courses" class="btn btn-primary px-4 py-2">Start Learning Now</a>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-center">
                    <img class="img-fluid mt-4 mt-md-0" src="https://alefbaacademy.com/uploads/file-1702908212-658051348d389.png" alt="Hero Image">
                </div>
            </div>
        </div>
    </section>

    <div class="stats-container bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="stats-item p-3">
                        <img src="https://alefbaacademy.com/site/assets/default/img/stats/teacher.svg" width="50" alt="">
                        <h3 class="mt-2">10+</h3>
                        <p>Teachers</p>
                    </div>
                </div>
                </div>
        </div>
    </div>

    <section id="custom-courses" class="py-5">
        <div class="container text-center">
            <h2 class="font-weight-bold mb-4">Our New Courses</h2>
            <div class="row">
                <div class="col-12">
                    <p class="text-muted">Your new courses will be displayed here...</p>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://alefbaacademy.com/site/assets/default/css/app.js"></script>
</body>
</html>